extends layout 
 
block content 
  div(class="container-fluid mt-3 mystyle" ) Welcome to dollargeneral Application
  if (!user) 
    a(href="/login") Login 
    br 
    a(href="/register") Register 
  if (user) 
    p You are currently logged in as #{user.username} 
    a(href="/dollargeneral") Take me to dollargeneral 
    br 
    a(href="/logout") Logout 