body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dollargeneralAttr { 
  background-color:yellow; 
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  width: 120px; 
} 
